body{
    background-color:#ebebeb !important;
}
input:required{
    border-color: darkcyan;
}
.data{
    color: #676767;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-left: 10px;
}
.add-button{
    color: #f05e23 !important;
    font-size: 23px !important;
    margin-top: -5px;
}
.HeaderBannerText{
    color: white;
    font-weight: bold;
}
.header-banner{
    background-image: linear-gradient(to right, #fc8621 , #f9e0ae);
    padding: 15px 15px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.update-button {
    background-color: #00a86b;
    border: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
    margin: 2px;
}
.update-button:hover{
    background-color: #4cbb17;
}
  .delete-button{
    background-color: #b80f0a;
    border: none;
    color: white;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    border-radius: 10px;
    margin: 2px;
}
.delete-button:hover{
    background-color: red;
}
.save-button {
    background-color: #ff7417;
    border: none;
    color: white;
    padding: 9px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
}

.back-button {
    background-color: grey;
    border: none;
    color: white;
    padding: 9px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
}
/* Sidebar Css */
.sidebar-Togglebtn-hidden{
    display: none;
}
#sidebar{
    display: block;
}
.sidebar {
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    /* width: 315px; */
    width: 270px;
    background-color: #ee9617;
    background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);

    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 100000;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
    display: none;
}

/* sidebar class for mozilla */
@-moz-document url-prefix() {
    hide scrollbar
    .sidebar{
        -ms-overflow-style: none; 
        scrollbar-width: none;  
        padding-bottom: 300px!important;
    }
    .sidebar:after{
        content:'';
        display:block;
        padding-bottom:100px;
    }
}

.sidebar a.v-tabs{
    letter-spacing: 1px;
    display: block;
    padding: 10px 16px;
    border-bottom: 1px solid #fbebd8;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}
.sidebar a.v-tabs.active {
    border-left: 10px solid #fbebd8;
    border-right: none;
    background: white;
    color: #A90011;
    padding-left: 8px;
    text-decoration: none;
    font-weight: 600 !important;
}
.sidebar a.v-tabs:hover:not(.active) {
    text-decoration: none;
    background: #fbebd8;
    color: #1e1e1e;
}
.sidebar a.v-tabs.active:hover {
    border-left: 10px solid #fbebd8;
    border-right: none;
    background: white;
    color: #A90011;
    padding-left: 8px;
    text-decoration: none;
    font-weight: 600 !important;
}
.content {
  /* margin-left: 300px; */
  padding: 1px;
  padding-right: 6px;
}
  .content-margin{
      margin-left: 270px;
  }

  .HeaderBanner {
    background-image: linear-gradient(to right, #fc8621 , #f9e0ae);
    width: 100%;
    margin-top: 10px;
    color: white;
    padding:10px;
    border-radius: .75rem .75rem 0rem 0rem;
    letter-spacing: 1px;
}
div.DivTemplate{
    /* max-width: 1024px; */
    width:100%;
    display:inline-block;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    /* min-width:600px; */
    background-color: white;
    padding : 10px 10px 10px 10px; /* Padding Top/Right/Bottom/Left */
    
}
.DivLinks-bg{
    background-color: white;
    border-radius: 0rem 0rem .75rem .75rem;
}
.header-link{
    color: #fc8621!important;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 13px;
}
.DivLinks-header{
    display: inline-block;
}
/* Tables */
.thead-bg{
    color: #fc8621;
    background-color: #ffffff;
    text-align: center;
}
table.dataDisplayer td {
    font-weight:bold;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: rgb(30,30,30, 0.9);
    text-align: center;
}
.th-border{
    border: 1px solid #ebebeb !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
}
.td-border{
    border: 1px solid #ebebeb !important;
}
.update-icon{
    color: #4cbb17;
    font-size: 30px;
}

.show-icon{
    color: #0996c1;
    font-size: 30px;
}
.bg-none{
    border:none; 
    background:none;
}
.cancel-icon{
    color: red;
    font-size: 30px;
}
.payment-icon{
    color: #e2a937;
    font-size: 30px;
}
.label{
    font-size: 13px;
    font-weight: normal !important;
    letter-spacing: 0.5px;
}
.btn-dark{
    color: white !important;
    background: #616161 !important;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-deep-orange{
    font-weight: 500;
    letter-spacing: 1px;
}
.fa-sign-out-alt{
    font-size: 25px;
}

.book-btn{
    background:#ed9e21;
    width: 110px;
    padding: 5px 0px;
    margin-top: 3px;
    text-align: center;
    border-radius: 5px;
    color: #474747 !important;
}

label{
    font-size: 13px;
}

.topViewer{
    color: #ed9e21;
    font-weight:bolder;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
    border: none;
    background-color: white;
    text-transform: uppercase;
    float: right;
    margin-top: 2px;
    /* margin-right: 14px; */
}